<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header class="site-header">
    <h1>{{ site.title }}</h1>
  </header>

  <nav class="navbar">
    <a href="/week2/" class="{% if page.url == '/week2/' %}active{% endif %}">ET-ESP32-RS485 V2 Board + Arduino  Cloud Plaform</a>
    <a href="/week3/" class="{% if page.url == '/week3/' %}active{% endif %}">PLC - Siemens LOGO!</a>
    <a href="/week4/" class="{% if page.url == '/week4/' %}active{% endif %}">Schinder.PLC M221</a>
    <a href="/week5/" class="{% if page.url == '/week5/' %}active{% endif %}">HMI (Human Machine Interface)</a>
    <a href="/week6/" class="{% if page.url == '/week6/' %}active{% endif %}">Industrial remote control and image processing</a>
    <a href="/week8/" class="{% if page.url == '/week8/' %}active{% endif %}">IRIV Pi Control</a>
    <a href="/week9/" class="{% if page.url == '/week9/' %}active{% endif %}">Siemens Simatic IPC127</a>
    <a href="/week10/" class="{% if page.url == '/week10/' %}active{% endif %}">Siemens Simatic IPC127 - IoTs</a>
    <a href="/Early Warning System/" class="{% if page.url == '/Early Warning System/' %}active{% endif %}">Flood Warning System</a>
  </nav>

  <main>
    <div class="content-container">
      {{ content }}
    </div>
  </main>

  <footer class="site-footer">
    <p>© {{ site.time | date: "%Y" }} {{ site.author }}</p>
  </footer>
</body>
</html>
