<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title >{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

</head>
<body>
  <header style="display: flex; justify-content: center;">
    <h1>{{ site.title }}</h1>
  </header>
  <hr>
  <span class="navbar" style="display: flex; justify-content: center; margin: 24px;">
    <a style="background-color: bisque; border-radius: 6px; padding: 8px 16px; margin: 0 4px;" href="/week2/" class="{% if page.url == '/week2/' %}active{% endif %}">WEEK2</a>
    <a style="background-color: bisque; border-radius: 6px; padding: 8px 16px; margin: 0 4px;" href="/week3/" class="{% if page.url == '/week3/' %}active{% endif %}">WEEK3</a>
    <a style="background-color: bisque; border-radius: 6px; padding: 8px 16px; margin: 0 4px;" href="/week4/" class="{% if page.url == '/week4/' %}active{% endif %}">WEEK4</a>
    <a style="background-color: bisque; border-radius: 6px; padding: 8px 16px; margin: 0 4px;" href="/week5/" class="{% if page.url == '/week5/' %}active{% endif %}">WEEK5</a>
    <a style="background-color: bisque; border-radius: 6px; padding: 8px 16px; margin: 0 4px;" href="/week6/" class="{% if page.url == '/week6/' %}active{% endif %}">WEEK6</a>
    <a style="background-color: bisque; border-radius: 6px; padding: 8px 16px; margin: 0 4px;" href="/week8/" class="{% if page.url == '/week8/' %}active{% endif %}">WEEK8</a>
    <a style="background-color: bisque; border-radius: 6px; padding: 8px 16px; margin: 0 4px;" href="/week9/" class="{% if page.url == '/week9/' %}active{% endif %}">WEEK9</a>
    <a style="background-color: bisque; border-radius: 6px; padding: 8px 16px; margin: 0 4px;" href="/week10/" class="{% if page.url == '/week10/' %}active{% endif %}">WEEK10</a>
    <a style="background-color: bisque; border-radius: 6px; padding: 8px 16px; margin: 0 4px;" href="/Early Warning System/" class="{% if page.url == '/Early Warning System/' %}active{% endif %}">WEEK11</a>
    
  </span>
  <main>
     <div class="content-container">
        {{ content }}
    </div>
  </main>

  <footer>
    <p>© {{ site.time | date: "%Y" }} {{ site.author }}</p>
  </footer>
</body>
</html>
